.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary-light);
  color: var(--color-primary-black);
  border-radius: 0.8rem;
  float: left;
  font-size: 6rem;
  font-weight: bold;
  padding: 0;
  text-align: center;
  height: 10rem;
  width: 10rem;
  box-shadow: var(--shadow-light);
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.cell:hover {
  background: var(--color-secondary-dark);
}

.cell:active {
  background: transparent;
}

.cell-inner {
  height: 100%;
  width: 100%;
}

.cell-X {
  color: var(--color-player-x);
  text-shadow: white 0 0 10px;
}

.cell-O {
  color: var(--color-player-o);
  text-shadow: black 0 0 10px;
}
