.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: #eee;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.cell:focus {
  outline: none;
}

.cell-inner {
  height: 100%;
  width: 100%;
}
