.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.game-board {
  display: flex;
}

/* .game-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game-info div {
    font-size: 20px;
    margin-bottom: 10px;
  } */

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.players button {
  margin: 10px;
  height: 40px;
  font-size: 18px;
}

.restart {
  margin-top: 20px;
}
