body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ol,
ul {
  padding-left: 30px;
}

li {
  margin-bottom: 5px;
}

button {
  min-height: 30px;
  height: auto;
  width: 150px;
}
 */
